* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
    body{
        background-image: url('./images/hojas3.png');
        background-size: cover;
        background-repeat: no-repeat;
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            text-decoration: none;
            color: white;
        }
        h3{
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        h4{
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        h5{
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        h6{
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        p{
            font-size: 25px;
        }
        li{
            font-size: 25px;
            margin: 10px;
        }
        header{
            padding-top: 5%;
            display: flex;
            justify-content: center;
            text-align: center;
            .nav{
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 15px;
                padding: 20px;
                margin: 20px;
            }   
        }
        main{
            padding: 10px;
            margin: 10px;
        }
        .container{
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            padding: 30px;
        }
        .texto{
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            padding: 20px;
            margin: 20px;
        }
        .cuando{
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            padding: 20px;
            margin: 20px;
                margin-top: 20px;
                h3{
                    margin-bottom: 20px;
                }
            }
        .pago{
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            padding: 20px;
            margin: 20px;
        }
        footer{
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            padding: 10px;
            margin: 20px;
        };
    }
}

